extends layout
 
block content
  h1= title
 
  form(id='VegetablesForm', action="/resource/Vegetables", method="POST")
    div.form-group
        label.vegAttr(for='Vegetable_name') Vegetable_name
        input#Vegetable_name(type='text', name='Vegetable_name')
    div.form-group
        label.vegAttr(for='Vegetable_colour') Vegetable_colour 
        input#Vegetable_colour(type='text', name='Vegetable_colour')
    div.form-group
        label.vegAttr(for='vegetable_price') vegetable_price
        input#vegetable_price(type='number', name='vegetable_price')
    input(type="submit")
 
  script.
    document.forms['VegetablesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

